.detailInfo {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .detail-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20PX;
    font-size: 36px;
    padding: 10px 20px;


    .detail-header-title {
      .right-tab {
        background: #e74c3c;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        padding: 4px 6px;
        color: #fff;
        border-radius: 4px;
        margin-right: 10px;
        min-width: 60px;
        text-align: center;

        &.right-share {
          background: #2ecc71;
        }

        &.right-ask {
          background: #9b59b6;
        }
      }
    }

    .detail-header-desc {
      font-size: 26px;
      color: #bdc3c7;
    }
  }

  .detail-body {
    font-size: 28px;
    padding: 10px 20px;
  }
}
